*{
  margin: 0;
  padding: 0;
}
/* Heder */
nav {
  background-color: rgb(44, 30, 242);
  color: white;
  padding: 10px;
  text-align: center;
}

/* Home */
 .container{
  background-color: cornsilk;
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;

 }

 .container > form {
  display: flex;
  flex-direction: column;

 }

 .container > h1 {
  text-align: center;
  margin: 10px;
 }

input, textarea, button {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.214);
  border-radius: 5px;
  margin: 10px 0px;
}
button{
  border: none;
  cursor: pointer;
  background-color: rgb(24, 24, 24);
  color: white;
}

/* Task */


.task{
  display: flex;
  background-color: white;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}

.task > div{
  width: 100%;
}
.task button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task button:hover{
  background-color: red;
}
.task span{
  color: rgba(6, 5, 5, 0.648);
}