*{
  margin: 0;
  padding: 0;
}
/* Heder */
nav {
  background-color: rgb(44, 30, 242);
  color: white;
  padding: 20px;
  text-align: center;
}

/* Home */
 .container{
  background-color: cornsilk;
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;

 }

 .container > form {
  display: flex;
  flex-direction: column;

 }

input, textarea, button {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.214);
  border-radius: 5px;
  margin: 10px;
}
button{
  border: none;
  cursor: pointer;
  background-color: rgb(24, 24, 24);
  color: white;

}